// Primary Colors
$red: rgba(244, 0, 9, 1);
$blue: rgba(74, 58, 255, 1);
$green: rgb(93, 158, 19);
$white: rgba(255, 255, 255, 1);
$black: rgba(0, 0, 0, 1);
$input-color:rgba(105, 105, 105, 1);

// Grayscale
$gray-dark: rgb(33, 37, 41);
$gray-light: rgb(242,242,242);

// Secondary Colors
$yellow: rgb(255, 193, 7);
$orange: rgb(255, 123, 0);
$purple: rgb(111, 66, 193);         
$pink: rgb(255, 105, 180);
$teal: rgb(72, 201, 176);

// Alert Colors
$success: rgb(40, 167, 69);
$info: rgb(23, 162, 184);
$warning: rgb(255, 193, 7);
$danger: rgb(220, 53, 69);

// Extended Colors
$navy: rgb(0, 48, 73);
$lime: rgb(50, 205, 50);
$beige: rgb(245, 245, 220);
$gold: rgb(255, 215, 0);
$cyan: rgb(0, 255, 255);

// Font Sizes
$large: 10rem;
$medium: 5rem;
$small: 3rem;
