@mixin flex-center-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin grid-center {
  display: grid;
  justify-content: center;
  align-items: center;
}

@mixin large {
  font-size: 5rem;
  text-transform: capitalize;
  font-weight: 600;
}
@mixin middle {
  font-size: 3rem;
  text-transform: capitalize;
  font-weight: 500;
  color: $blue;
}
@mixin small {
  font-size: 1.8rem;
}

@mixin li-link-styles {
  list-style: none;
  color: #007bff;
  transition: color 0.2s ease;
  &:hover {
    color: #0056b3; /* Darker color on hover */
  }
}

/* Usage example: */

@mixin a-link-styles {
  text-decoration: none;
  color: #000;
}
