@use "../Styles/colors" as colors;
@use "../Styles/mixin" as mix;

.login-sec {
  .login {
    padding: 1rem 2rem;
    .login-form {
      h2 {
        font-size: 0.85rem;
        text-align: center;
        margin-bottom: 2rem;
      }
      form {
        @include mix.flex-center-column;
        width: 100%;
        .form-pos {
          position: relative;
          margin-bottom: 2rem;
          display: flex;
          align-items: center;
          input {
            padding: 1rem 1rem;
            font-size: 1rem;
            text-align: center;
            color: rgb(105, 105, 105);
            width: 388px;
            height: 4rem;
            font-weight: 600;
            border: none;
            border-radius: 0.5rem;
          }
          .digit {
            position: absolute;
            right: 20rem;
            font-size: 1rem;
            color: colors.$input-color;
            font-weight: 600;
            padding: 1rem 1rem;
            border-right: 3px solid colors.$gray-light;
          }
        }
      }
      .lgn-btn {
        button {
          padding: 1.2rem 1.5rem;
          font-size: 1.3rem;
          text-align: center;
          background-color: colors.$red;
          color: colors.$white;
          font-weight: 800;
          border: none;
          width: 16rem;
          border-radius: 1rem;
          cursor: pointer;
          &:hover {
            background-color: rgba(255, 0, 0, 0.836);
            transition: all 0.3s ease-in-out;
          }
        }
      }
    }
  }
}

.error {
  color: red;
  font-weight: 600;
  font-size: 0.9rem;
}
